<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>StudentsRecord</title>

    </head>
    <body>
        <div class="container my-5">
            <div class="jumbotron">
                <form method="get" action="join/">
                    <p>Batch</p>
                    <input type="text" placeholder="Batch ID" name="joinid" id="joinid">
                    <p>Student Id</p>
                    <input type="text" placeholder="Student ID" name="studentid" id="studentid">    
                    <br>
                    <button class="btn btn-primary my-2" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>